doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
    body 
        h1=message
        p nodejs server        
        img(src="https://picsum.photos/300", alt="img placeholder")
        a(href="/form", title="뉴스레터 등록") 등록하기